
.vs/config/applicationhost.config
*.config
.vs/InlandMarina/v15/.suo
.vs/InlandMarina/v15/Server/sqlite3/storage.ide-shm
InlandMarina/bin/InlandMarina.dll
InlandMarina/bin/InlandMarina.pdb
*.txt
*.cache
*.dll
*.pdb
.vs/InlandMarina/v15/.suo
.vs/InlandMarina/v15/.suo
.vs/InlandMarina/v15/Server/sqlite3/storage.ide-wal
.vs/InlandMarina/v15/.suo
.vs/InlandMarina/v15/Server/sqlite3/storage.ide-wal
.vs/InlandMarina/v15/Server/sqlite3/storage.ide-wal
.vs/InlandMarina/v15/.suo
.vs/InlandMarina/v15/.suo
.vs/InlandMarina/v15/Server/sqlite3/storage.ide-wal
.vs/InlandMarina/v15/.suo
.vs/InlandMarina/v15/Server/sqlite3/storage.ide-wal
*.ide-wal
.vs/InlandMarina/v15/.suo
.vs/InlandMarina/v15/.suo
.vs/InlandMarina/v15/Server/sqlite3/storage.ide-wal
InlandMarina/bin/InlandMarina.dll
InlandMarina/bin/InlandMarina.pdb
InlandMarina/obj/Debug/InlandMarina.csprojAssemblyReference.cache
InlandMarina/obj/Debug/InlandMarina.dll
InlandMarina/obj/Debug/InlandMarina.pdb
.vs/InlandMarina/v15/.suo
.vs/InlandMarina/v15/Server/sqlite3/storage.ide-wal
InlandMarina/bin/InlandMarina.dll
InlandMarina/bin/InlandMarina.pdb
InlandMarina/obj/Debug/InlandMarina.csprojAssemblyReference.cache
InlandMarina/obj/Debug/InlandMarina.dll
.vs/InlandMarina/v15/.suo
.vs/InlandMarina/v15/Server/sqlite3/storage.ide
.vs/InlandMarina/v15/Server/sqlite3/storage.ide-wal
.vs/InlandMarina/v15/Server/sqlite3/storage.ide
.vs/InlandMarina/v15/.suo
.vs/InlandMarina/v15/Server/sqlite3/storage.ide
.vs/InlandMarina/v15/Server/sqlite3/storage.ide-wal
